*{
  margin: 0;
  padding: 0;
}
body{
      background: url(./images/logb.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 80%;
}
.form-field{
  display: block;
  position: relative;
  margin: 30px 0;
  text-align: center;
  width: 310px;
  /* border-bottom: 2px solid #000; */
}
#password{
  margin-left: 6px;
}
.btnLogin{
  padding: 10px;
  border-radius: 15px;
}
.btn:hover{
    background: blue;
    color: white;
}
.form-box{ 
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 172, 172);
  padding: 60px;
  width: 250px;
  height: 350px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 50px 50px 50px 50px;
}
h2{
  font-size: 28px;
  color: #000;
  text-align: center;
  
}

